h1 {
    color: red;
}

/*
p{
    color: #ff3366;
    background-color: #00FF00;
}
*/
.specialp {
    color: blue;
    background-color: #FF0000;
}

#specialID {
color: green;
background-color: #ffff33f9;

}

.orangebg {
    background-color: orange;
}

.spanstyle {
    color: blue;
}

a{
    color:#FF0000;
    text-decoration: none;
}

a:link {
  color: #00ff00;
}

a:visited {
  color: #0000ff;
}

a:active {
  color: #00ffff;
}

a:hover {
  color: #ff00ff;
  text-decoration: underline;
}  

footer{
background-color: green;
}